n8n_planner.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Academic Career Planner",
        "formDescription": "Build a semester-specific roadmap for your chosen tech stack",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Enter is your name?",
              "requiredField": true
            },
            {
              "fieldLabel": "Enter is your discipline of study?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "B.Tech / B.S"
                  },
                  {
                    "option": "BCA"
                  }
                ]
              },
              "multiselect": true
            },
            {
              "fieldLabel": "Enter year are you in?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "1"
                  },
                  {
                    "option": "2"
                  },
                  {
                    "option": "3"
                  },
                  {
                    "option": "4 (Not applicable for BCA students)"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Which stack would you like the roadmap to be on?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "AI/ML"
                  },
                  {
                    "option": "Full Stack Development"
                  },
                  {
                    "option": "Cybersecurity"
                  },
                  {
                    "option": "Data Science"
                  },
                  {
                    "option": "UI/UX"
                  },
                  {
                    "option": "DevOps"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Enter is your current level of understanding?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Beginner"
                  },
                  {
                    "option": "Intermediate"
                  },
                  {
                    "option": "Advanced"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Briefly describe your current skills (only keywords) , if any prior exxperience?"
            },
            {
              "fieldLabel": "Enter is your email id?"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        288,
        448
      ],
      "id": "b2852f0d-5c3b-4507-91bf-82e042ab7034",
      "name": "On form submission",
      "webhookId": "7bafffe2-e109-4213-8b78-076f83301fb5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an AI assistant expert in creating academic and career roadmaps. Based on the user's input about their current year in B.Tech (1 to 4), generate a detailed roadmap covering relevant semester (Just that semester meaning roadmap of 6 months), skills, projects, and internship prep and give proper breakdown of each month for the whole semester.\n\nOutput the entire roadmap as clean, semantic HTML with headings, lists, and sections and also mention the mail in the output.\n\nDo NOT include any explanations or extra text—ONLY return the complete HTML snippet.\n\nMake sure the HTML uses proper tags like <h2>, <ul>, <li>, <p> for readability and formatting.\n\nThe HTML should be self-contained and suitable to embed in emails or webpages.\n\n\n⚠️ Do not use Markdown formatting like *, **, or #.\nJust use plain section headers (e.g., “Semester 5”) and dash - bullet points.\nAvoid using any formatting characters.\nThe roadmap should be limited to that very semester only, don't generate any other information.",
        "options": {
          "systemMessage": "=You are an academic roadmap planner.  \nStudent's name: {{ $json['What is your name?'] }}\nDiscipline:{{ $json['What is your discipline of study?'] }}\nYear: {{ $json['What year are you in?'] }}\nUnderstanding: {{ $json['What is your current level of understanding?'] }}\nEmail:{{ $json['What is your email id?'] }}\nBased on this info, create a personalized study plan.\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        512,
        448
      ],
      "id": "3b02065a-b5ab-4000-96b4-3269716d501d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        592,
        672
      ],
      "id": "ad737be1-b8b3-4f09-8130-c558352dda02",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "TIYdpV7mHk1PZ1uF",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const html = $input.first().json.output; // Replace if needed\n\nconst plain = html\n  .replace(/<[^>]+>/g, '')  \n  .replace(/•/g, '-')        \n  .replace(/\\n\\s*\\n/g, '\\n');\n\nconst lines = plain\n  .split('\\n')\n  .map(line => line.trim())\n  .filter(line => line.startsWith('-') && line.length > 5);\n\nconst now = new Date();\n\nconst semesterStart = new Date(now.getFullYear(), 6, 15); \nconst semesterEnd = new Date(now.getFullYear(), 10, 15);  \n\nconst totalSemesterDays = (semesterEnd - semesterStart) / (1000 * 60 * 60 * 24);\nconst taskCount = lines.length;\nconst intervalDays = totalSemesterDays / taskCount;\n\nconst output = [];\n\nfor (let i = 0; i < taskCount; i++) {\n  const task = lines[i].replace(/^- /, '');\n\n  const start = new Date(semesterStart);\n  start.setDate(start.getDate() + Math.floor(i * intervalDays));\n  start.setHours(0, 0, 0, 0);  \n  let end;\n  if (i < taskCount - 1) {\n    end = new Date(semesterStart);\n    end.setDate(end.getDate() + Math.floor((i + 1) * intervalDays) - 1);\n    end.setHours(23, 59, 59, 999);\n  } else {\n    end = new Date(semesterEnd);\n    end.setHours(23, 59, 59, 999);\n  }\n\n  output.push({\n    json: {\n      summary: task,\n      description: 'Task spanning multiple days',\n      start: start.toISOString(),\n      end: end.toISOString()\n    }\n  });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        656
      ],
      "id": "1ade551c-e83b-4b91-98f9-6ec0dd886a6f",
      "name": "Code2"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output; // Gemini's HTML output\n\nconst emailMatch = raw.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-z]{2,}/);\nconst extractedEmail = emailMatch ? emailMatch[0] : \"gauravrpjoshi1205@gmail.com\"; \nconst htmlFormatted = `<div style=\"font-family:Arial,sans-serif;line-height:1.6;font-size:14px\">${raw}</div>`;\nreturn {\n  json: {\n    email: extractedEmail,\n    html: htmlFormatted,\n    subject: \"Your Personalized B.Tech Roadmap\"\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        432
      ],
      "id": "c1ff6af3-f994-4f3f-8c00-f5f01a1491fa",
      "name": "Code"
    },
    {
      "parameters": {
        "content": "The Task Breakdown node deals with segmenting the output provided by Gemini API into specified fields such as start date, end date etc. for smooth creation of Google Calendar Events. ",
        "height": 120,
        "width": 280,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        816
      ],
      "id": "49fc274c-6037-4d6c-aae3-63649b5252d9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "The Code function node extracts the email ID from the Gemini API output while also forwarding the remaining content for use in the email body. You can bypass this node by simply providing an email to send the contents to in the gmail node.",
        "width": 260,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        800,
        208
      ],
      "id": "ca6552e1-237e-44b9-93f4-560e0fc04e08",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "",
        "height": 440,
        "width": 540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        256,
        368
      ],
      "id": "586c6da8-5d28-4e41-985f-d19d0736db6e",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "",
        "height": 180,
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        400
      ],
      "typeVersion": 1,
      "id": "8b680dee-41c5-4bd0-a4d9-3c5761de7948",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "",
        "width": 480,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        640
      ],
      "typeVersion": 1,
      "id": "70f638cd-8183-44d2-958f-045f34ff3b0c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.email }}",
        "subject": "=Student Roadmap Planner",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1104,
        432
      ],
      "id": "3ca58bb6-6c24-41a7-b50e-73e27d87adb5",
      "name": "Send a message",
      "webhookId": "7943635a-37f1-4103-b47e-41bd8fe84037",
      "credentials": {
        "gmailOAuth2": {
          "id": "x18VSbBeEmCnCxuh",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "gauravrpjoshi1205@gmail.com",
          "mode": "list",
          "cachedResultName": "gauravrpjoshi1205@gmail.com"
        },
        "start": "={{ $json.start }}",
        "end": "={{ $json.end }}",
        "additionalFields": {
          "description": "={{ $json[\"description\"] }}",
          "summary": "={{ $json[\"summary\"] }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1136,
        656
      ],
      "id": "69c2d148-7002-4c0c-93fa-2c04964e3b8a",
      "name": "Create an event",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "J2wdZRQ34PK5KO90",
          "name": "Google Calendar account"
        }
      }
    }
  ],
  "pinData": {
    "Code": [
      {
        "json": {
          "email": "gauravrpjoshi1205@gmail.com",
          "html": "<div style=\"font-family:Arial,sans-serif;line-height:1.6;font-size:14px\">```html\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Academic Roadmap</title>\n</head>\n<body>\n\n    <h2>Personalized Academic Roadmap for Gaurav Joshi</h2>\n    <p>Email: gauravrpjoshi1205@gmail.com</p>\n\n    <h2>Semester 5 Roadmap (3rd Year, Computer Science)</h2>\n    <p>Focus: Specializing in AI/ML and Preparing for Summer Internships</p>\n\n    <h3>Month 1: August - Foundation and Planning</h3>\n    <ul>\n        <li>\n            <h4>Academics and Core Skills</h4>\n            <ul>\n                <li>- Master core concepts of Semester 5 subjects: Operating Systems (OS), Database Management Systems (DBMS), and Theory of Computation (TOC).</li>\n                <li>- Begin an introductory course in Machine Learning (e.g., Andrew Ng's Coursera course). Focus on linear/logistic regression.</li>\n                <li>- Strengthen Python skills for data science with NumPy and Pandas libraries.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Project Work</h4>\n            <ul>\n                <li>- Brainstorm project ideas combining DBMS and basic ML. Example: A 'Student Performance Predictor' using a SQL database.</li>\n                <li>- Set up your development environment: Git, GitHub, VS Code, Jupyter Notebook, and MySQL/PostgreSQL.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Internship and Career Prep</h4>\n            <ul>\n                <li>- Update your resume with all projects and skills from the first two years.</li>\n                <li>- Build and polish your LinkedIn and GitHub profiles. Ensure GitHub projects have clear README files.</li>\n            </ul>\n        </li>\n    </ul>\n\n    <h3>Month 2: September - Deepening Skills</h3>\n    <ul>\n        <li>\n            <h4>Academics and Core Skills</h4>\n            <ul>\n                <li>- Dive deeper into DBMS concepts like normalization, indexing, and advanced SQL queries.</li>\n                <li>- Progress in ML: Learn about Decision Trees, Random Forests, and Support Vector Machines (SVMs).</li>\n                <li>- Start consistent Data Structures and Algorithms (DSA) practice (2-3 problems daily) on platforms like LeetCode.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Project Work</h4>\n            <ul>\n                <li>- Begin development of the 'Student Performance Predictor' project.</li>\n                <li>- Focus on database schema design, data collection, and data pre-processing.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Internship and Career Prep</h4>\n            <ul>\n                <li>- Start networking on LinkedIn. Connect with alumni, recruiters, and professionals in your target field.</li>\n                <li>- Begin practicing for online coding assessments, focusing on array, string, and linked list problems.</li>\n            </ul>\n        </li>\n    </ul>\n\n    <h3>Month 3: October - Application and Project Building</h3>\n    <ul>\n        <li>\n            <h4>Academics and Core Skills</h4>\n            <ul>\n                <li>- Focus on challenging OS topics like process scheduling, memory management, and concurrency.</li>\n                <li>- Learn to implement ML models using the Scikit-Learn library.</li>\n                <li>- Advance DSA practice to include trees, heaps, and hashmaps.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Project Work</h4>\n            <ul>\n                <li>- Implement the prediction model for your project and integrate it with the database.</li>\n                <li>- Create a simple front-end using Streamlit or Flask to display the project's results.</li>\n                <li>- Push all progress to GitHub with clear, well-documented commits.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Internship and Career Prep</h4>\n            <ul>\n                <li>- Finalize your 'master resume' and create tailored versions for different job roles (SDE, Data Analyst, ML Intern).</li>\n                <li>- Start actively applying for summer internships as many companies open their applications now.</li>\n            </ul>\n        </li>\n    </ul>\n\n    <h3>Month 4: November - Specialization and Refinement</h3>\n    <ul>\n        <li>\n            <h4>Academics and Core Skills</h4>\n            <ul>\n                <li>- Begin preparing for mid-semester exams.</li>\n                <li>- Get an introduction to Neural Networks and Deep Learning basics (TensorFlow/PyTorch).</li>\n                <li>- Continue DSA, focusing on graph algorithms (BFS, DFS) and dynamic programming.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Project Work</h4>\n            <ul>\n                <li>- Complete and document your project. Create a comprehensive README on GitHub.</li>\n                <li>- Bonus: Deploy the web application on a free platform like Heroku, Netlify, or PythonAnywhere.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Internship and Career Prep</h4>\n            <ul>\n                <li>- Prepare for behavioral interview rounds. Practice the STAR (Situation, Task, Action, Result) method.</li>\n                <li>- Conduct mock interviews with peers to improve communication and problem-solving skills under pressure.</li>\n            </ul>\n        </li>\n    </ul>\n\n    <h3>Month 5: December - Consolidation and Testing</h3>\n    <ul>\n        <li>\n            <h4>Academics and Core Skills</h4>\n            <ul>\n                <li>- Revise all semester subjects thoroughly for final examinations.</li>\n                <li>- Complete all pending lab work and assignments.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Project Work</h4>\n            <ul>\n                <li>- Refactor the code of your completed project for better readability and performance.</li>\n                <li>- Brainstorm and outline a more advanced project for the next semester (e.g., using Computer Vision or NLP).</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Internship and Career Prep</h4>\n            <ul>\n                <li>- Dedicate time to online assessments and technical interviews from your applications.</li>\n                <li>- Deepen your knowledge of core CS theory (OS, DBMS, Computer Networks) as they are crucial for interviews.</li>\n            </ul>\n        </li>\n    </ul>\n\n    <h3>Month 6: January - Exams and Future Planning</h3>\n    <ul>\n        <li>\n            <h4>Academics and Core Skills</h4>\n            <ul>\n                <li>- Successfully complete your Semester 5 final exams.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Project Work</h4>\n            <ul>\n                <li>- Finalize the architecture and tech stack for your Semester 6 project.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Internship and Career Prep</h4>\n            <ul>\n                <li>- Analyze the outcomes of your internship applications to identify strengths and weaknesses.</li>\n                <li>- If an offer is secured, celebrate! If not, create a revised strategy for the next application cycle.</li>\n                <li>- Take a well-deserved break before Semester 6 begins.</li>\n            </ul>\n        </li>\n    </ul>\n\n</body>\n</html>\n```</div>",
          "subject": "Your Personalized B.Tech Roadmap"
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "```html\n<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Academic Roadmap</title>\n</head>\n<body>\n\n    <h2>Personalized Academic Roadmap for Gaurav Joshi</h2>\n    <p>Email: gauravrpjoshi1205@gmail.com</p>\n\n    <h2>Semester 5 Roadmap (3rd Year, Computer Science)</h2>\n    <p>Focus: Specializing in AI/ML and Preparing for Summer Internships</p>\n\n    <h3>Month 1: August - Foundation and Planning</h3>\n    <ul>\n        <li>\n            <h4>Academics and Core Skills</h4>\n            <ul>\n                <li>- Master core concepts of Semester 5 subjects: Operating Systems (OS), Database Management Systems (DBMS), and Theory of Computation (TOC).</li>\n                <li>- Begin an introductory course in Machine Learning (e.g., Andrew Ng's Coursera course). Focus on linear/logistic regression.</li>\n                <li>- Strengthen Python skills for data science with NumPy and Pandas libraries.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Project Work</h4>\n            <ul>\n                <li>- Brainstorm project ideas combining DBMS and basic ML. Example: A 'Student Performance Predictor' using a SQL database.</li>\n                <li>- Set up your development environment: Git, GitHub, VS Code, Jupyter Notebook, and MySQL/PostgreSQL.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Internship and Career Prep</h4>\n            <ul>\n                <li>- Update your resume with all projects and skills from the first two years.</li>\n                <li>- Build and polish your LinkedIn and GitHub profiles. Ensure GitHub projects have clear README files.</li>\n            </ul>\n        </li>\n    </ul>\n\n    <h3>Month 2: September - Deepening Skills</h3>\n    <ul>\n        <li>\n            <h4>Academics and Core Skills</h4>\n            <ul>\n                <li>- Dive deeper into DBMS concepts like normalization, indexing, and advanced SQL queries.</li>\n                <li>- Progress in ML: Learn about Decision Trees, Random Forests, and Support Vector Machines (SVMs).</li>\n                <li>- Start consistent Data Structures and Algorithms (DSA) practice (2-3 problems daily) on platforms like LeetCode.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Project Work</h4>\n            <ul>\n                <li>- Begin development of the 'Student Performance Predictor' project.</li>\n                <li>- Focus on database schema design, data collection, and data pre-processing.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Internship and Career Prep</h4>\n            <ul>\n                <li>- Start networking on LinkedIn. Connect with alumni, recruiters, and professionals in your target field.</li>\n                <li>- Begin practicing for online coding assessments, focusing on array, string, and linked list problems.</li>\n            </ul>\n        </li>\n    </ul>\n\n    <h3>Month 3: October - Application and Project Building</h3>\n    <ul>\n        <li>\n            <h4>Academics and Core Skills</h4>\n            <ul>\n                <li>- Focus on challenging OS topics like process scheduling, memory management, and concurrency.</li>\n                <li>- Learn to implement ML models using the Scikit-Learn library.</li>\n                <li>- Advance DSA practice to include trees, heaps, and hashmaps.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Project Work</h4>\n            <ul>\n                <li>- Implement the prediction model for your project and integrate it with the database.</li>\n                <li>- Create a simple front-end using Streamlit or Flask to display the project's results.</li>\n                <li>- Push all progress to GitHub with clear, well-documented commits.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Internship and Career Prep</h4>\n            <ul>\n                <li>- Finalize your 'master resume' and create tailored versions for different job roles (SDE, Data Analyst, ML Intern).</li>\n                <li>- Start actively applying for summer internships as many companies open their applications now.</li>\n            </ul>\n        </li>\n    </ul>\n\n    <h3>Month 4: November - Specialization and Refinement</h3>\n    <ul>\n        <li>\n            <h4>Academics and Core Skills</h4>\n            <ul>\n                <li>- Begin preparing for mid-semester exams.</li>\n                <li>- Get an introduction to Neural Networks and Deep Learning basics (TensorFlow/PyTorch).</li>\n                <li>- Continue DSA, focusing on graph algorithms (BFS, DFS) and dynamic programming.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Project Work</h4>\n            <ul>\n                <li>- Complete and document your project. Create a comprehensive README on GitHub.</li>\n                <li>- Bonus: Deploy the web application on a free platform like Heroku, Netlify, or PythonAnywhere.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Internship and Career Prep</h4>\n            <ul>\n                <li>- Prepare for behavioral interview rounds. Practice the STAR (Situation, Task, Action, Result) method.</li>\n                <li>- Conduct mock interviews with peers to improve communication and problem-solving skills under pressure.</li>\n            </ul>\n        </li>\n    </ul>\n\n    <h3>Month 5: December - Consolidation and Testing</h3>\n    <ul>\n        <li>\n            <h4>Academics and Core Skills</h4>\n            <ul>\n                <li>- Revise all semester subjects thoroughly for final examinations.</li>\n                <li>- Complete all pending lab work and assignments.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Project Work</h4>\n            <ul>\n                <li>- Refactor the code of your completed project for better readability and performance.</li>\n                <li>- Brainstorm and outline a more advanced project for the next semester (e.g., using Computer Vision or NLP).</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Internship and Career Prep</h4>\n            <ul>\n                <li>- Dedicate time to online assessments and technical interviews from your applications.</li>\n                <li>- Deepen your knowledge of core CS theory (OS, DBMS, Computer Networks) as they are crucial for interviews.</li>\n            </ul>\n        </li>\n    </ul>\n\n    <h3>Month 6: January - Exams and Future Planning</h3>\n    <ul>\n        <li>\n            <h4>Academics and Core Skills</h4>\n            <ul>\n                <li>- Successfully complete your Semester 5 final exams.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Project Work</h4>\n            <ul>\n                <li>- Finalize the architecture and tech stack for your Semester 6 project.</li>\n            </ul>\n        </li>\n        <li>\n            <h4>Internship and Career Prep</h4>\n            <ul>\n                <li>- Analyze the outcomes of your internship applications to identify strengths and weaknesses.</li>\n                <li>- If an offer is secured, celebrate! If not, create a revised strategy for the next application cycle.</li>\n                <li>- Take a well-deserved break before Semester 6 begins.</li>\n            </ul>\n        </li>\n    </ul>\n\n</body>\n</html>\n```"
        }
      }
    ]
  },
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7693e741-618c-41f8-bf71-9925cc0b192b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6be8fdea8a4db6e14ac3bd0af15c1f791f5dcfc8e3911ee21a213d632bd82a4b"
  },
  "id": "2a0FoBSl0d7QPLY7",
  "tags": []
}